
body {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.editors {
  flex: 1;
}

.open-editors {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.5rem;
}

button.note-link {
  width: 100%;
  text-align: left;
}

.side {
  max-height: 90vh;
  overflow-y: auto;
}

ul.notes-list {
  list-style-type: none;
}

.hidden {
  display: none;
}

.gd-link {
  cursor: pointer;
}

textarea.editor {
  white-space: break-spaces;
  border-style: solid;
  border-width: 1px;
  width: 40rem;
  height: 100%;
  resize: horizontal;
  overflow: auto;
}
.preview {
  flex: 1;
  overflow-y: auto;
}
input.editor {
  overflow: auto;
}

.editor-and-preview {
  gap: 1rem;
  display: flex;
  height: 90vh;
  flex-direction: row;
}

.editor-container {
  display: flex;
  flex-direction: column;
}

.toolbar-button {
  height: 1.3rem;
  width: 1.3rem;
}

.half-item {
  flex: 0 0 50%;
}
